.projects-add-btn{
	background-color: #000 !important;
    border: none !important;
    border-radius: 6px !important;
    padding: 10px;
    position: relative;
    .x-btn-inner-default-toolbar-small{
        color:#fff;
    }
}
.project-toolbar-cls {
    background: transparent !important;
}